// Estilos generales de la app
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,span,li,a,strong,em,i,b,mark,u,s,cite,sup,small,q,dfn,abbr{
    font-weight: $headings-font-weight;
}
h1,h2,h3,h4,h5,h6{
    font-family: $headings-font-family;
}
p,span,li,a,strong,em,i,b,mark,u,s,cite,sup,small,q,dfn,abbr,label{
    font-family: $font-family-sans-serif;
}

button{
    outline: none;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
