@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, li, a, strong, em, i, b, mark, u, s, cite, sup, small, q, dfn, abbr {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p, span, li, a, strong, em, i, b, mark, u, s, cite, sup, small, q, dfn, abbr, label {
  font-family: "Source Sans Pro", "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  outline: none;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
  font-family: 'fontAwesome';
}

.navigationContainer {
  border-bottom: #e8e8e8 1px solid;
  height: auto;
  width: 100%;
}

@media (min-width: 0) and (max-width: 640px) {
  .navigationContainer {
    display: none;
  }
}

.navigationContainer .container .containerBarnavTop .barnavTop {
  height: 100%;
  font-size: .9rem;
}

.navigationContainer .container .containerBarnavTop .barnavTop.barnavTopRight {
  display: flex;
  align-items: flex-end;
}

.navigationContainer .container .containerBarnavTop .barnavTop.barnavTopRight .list {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
}

.navigationContainer .container .containerBarnavTop .barnavTop.barnavTopRight .list .listItem {
  width: auto;
  font-size: 0.9375rem;
  padding: 0 .5rem;
  height: 47px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigationContainer .container .containerBarnavTop .barnavTop.barnavTopRight .list .listItem a {
  text-decoration: none;
  color: #1c1c1c;
}

.navigationContainer .container .containerBarnavTop .barnavTop.barnavTopRight .list .listItem .btnBooking {
  background-color: #997f60;
  margin: 0;
  border-radius: 0;
  color: #fff;
  height: 100%;
}

.navigationContainer .container .containerBarnavTop .barnavTop.barnavTopRight .list .nav-item {
  list-style: none;
}

.navigationContainer .container .containerBarnavTop .barnavTop.barnavTopRight .list .nav-item a {
  color: #1c1c1c;
}

.navigationContainer .container .containerBarnavTop .barnavTop:nth-child(1) {
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 0) and (max-width: 640px) {
  .navigationContainerBottom .container .row .containerBarnavBottom {
    display: none;
  }
}

.navigationContainerBottom .container .row .containerBarnavBottom .row .containerLogo .row .logo {
  width: 99%;
  height: auto;
}

.navigationContainerBottom .container .row .containerBarnavBottom .row .containerLogo .row .benfits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigationContainerBottom .container .row .containerBarnavBottom .row .containerLogo .row .benfits .list-group .list-group-item {
  padding: 0;
  border: 0;
}

.navigationContainerBottom .container .row .containerBarnavBottom .row .containerLogo .row .benfits .list-group .list-group-item .sub {
  color: #1c1c1c;
}

.navigationContainerBottom .container .row .containerBarnavBottom .row .containerLogo .row .benfits .list-group .list-group-item .sub i {
  font-size: 1rem;
}

.navigationContainerBottom .container .row .containerBarnavBottom .row .containerLogo .row .benfits .list-group .list-group-item .sub span {
  font-weight: bolder;
  font-size: .9rem;
}

.navigationContainerBottom .container .row .containerBarnavBottom .row .containerLogo .row .benfits .list-group .list-group-item span {
  font-size: .9rem;
}

.navigationContainerBottom .container .row .btnBooking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigationContainerBottom .container .row .btnBooking .btnBookingSite {
  background-color: #997f60;
  border-radius: 50px;
  color: #fff;
  height: 42px;
  font-size: .9rem;
}

.navigationContainerBottom .containerMenu {
  border-top: #e8e8e8 1px solid;
  background-color: #201609;
}

.navigationContainerBottom .containerMenu .container .navbar {
  background-color: #201609 !important;
}

.navigationContainerBottom .containerMenu .container .navbar .navbar-brand img {
  width: 80px;
  height: auto;
}

.navigationContainerBottom .containerMenu .container .navbar .navbar-toggler {
  border-color: transparent;
}

.navigationContainerBottom .containerMenu .container .navbar .navbar-toggler .navbar-toggler-icon {
  width: 1.25em;
}

.sectionCarouselHome {
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
}

.sectionCarouselHome .carousel {
  width: 100%;
  height: 100%;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) img {
  width: 120.5% !important;
  height: 120.5% !important;
  margin-left: -10.25%;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) img {
    width: 215.5% !important;
    height: 231px !important;
    margin-left: -56.25%;
  }
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption {
  display: flex;
  top: 0;
  align-items: center;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption .carouselCaption1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption .carouselCaption1 h1 {
  text-align: left;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption .carouselCaption1 h1 {
    font-size: 2rem;
  }
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption .carouselCaption1 .line {
  width: 85px;
  height: 3px;
  margin: 20px auto 25px auto;
  background-color: #997f60;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption .carouselCaption1 p {
  text-align: justify;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption .carouselCaption1 p {
    display: none;
  }
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption h1 {
  font-size: 4rem;
  line-height: 120%;
  width: 700px;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption p {
  font-size: 1rem;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption button {
  background-color: #997f60;
  border-radius: 50px;
  height: 48px;
  width: 180px;
  margin: 5px 0px 0px;
  color: #fff;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(1) .carousel-caption button {
    align-items: center;
  }
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) img {
  width: 120.5% !important;
  height: 120.5% !important;
  margin-left: -10.25%;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) img {
    width: 215.5% !important;
    height: 231px !important;
    margin-left: -56.25%;
  }
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) .carousel-caption {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) .carousel-caption .carouselCaption2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) .carousel-caption .carouselCaption2 h1 {
  text-align: center;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) .carousel-caption .carouselCaption2 h1 {
    font-size: 2rem;
  }
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) .carousel-caption .carouselCaption2 .line {
  width: 85px;
  height: 3px;
  margin: 20px auto 25px auto;
  background-color: #997f60;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) .carousel-caption h1 {
  font-size: 4rem;
  line-height: 120%;
  width: 700px;
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) .carousel-caption p {
  font-size: 1rem;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) .carousel-caption p {
    display: none;
  }
}

.sectionCarouselHome .carousel .carousel-inner .carousel-item:nth-child(2) .carousel-caption button {
  background-color: #997f60;
  border-radius: 50px;
  height: 48px;
  width: 180px;
  margin: 5px 0px 0px;
  color: #fff;
}

.sectionCarouselHome .carousel .carouselControl {
  width: 70px;
  height: 70px;
  display: none;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionCarouselHome .carousel .carouselControl {
    width: 45px;
    height: 45px;
  }
}

.sectionCarouselHome .carousel .carouselControl.carousel-control-prev {
  border-radius: 50%;
  border: 3px solid #fff;
  top: 41%;
  left: 3%;
}

.sectionCarouselHome .carousel .carouselControl.carousel-control-next {
  border-radius: 50%;
  border: 3px solid #fff;
  top: 41%;
  right: 3%;
}

.sectionCarouselHome .carousel:hover .carouselControl {
  display: flex;
  transition: 500ms ease-in;
}

.sectionBenefict {
  padding: 60px 0px;
}

.sectionBenefict .container1 .row .containerBenefict .row .col-2 i {
  font-size: 1.8rem;
  border: 3px solid #997f60;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #997f60;
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .container1 .row .containerBenefict .row .col-10 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionBenefict .container1 .row .containerBenefict .row .col-10 .contBenefict {
    width: 90%;
  }
}

.sectionBenefict .container1 .row .containerBenefict .row .col-10 .contBenefict .span h5 {
  margin: 0 0 25px 0;
}

.sectionBenefict .container1 .row .containerBenefict .row .col-10 .contBenefict .line {
  width: 45px;
  height: 2px;
  background-color: #997f60;
  margin: 0 0 25px 0;
}

.sectionBenefict .container1 .row .containerBenefict .row .col-10 .contBenefict .paragraph {
  margin: 0 0 60px 0;
  line-height: 160%;
  font-size: 1rem;
  padding-right: 10px;
}

.sectionBenefict .row .containerFormReserve {
  background-color: #000;
}

.sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm {
  --bg-pseudo: #997f60;
  --bg-pseudo-inactive: #000;
  position: relative;
}

.sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm button {
  height: 89px;
  color: #fff;
}

.sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.transfer::before, .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.transfer::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 14px 0px 15px 16px;
  border-style: solid;
  border-color: transparent var(--bg-pseudo);
  right: -14px;
  z-index: 1000;
  top: 28px;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.transfer::before, .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.transfer::after {
    right: 68px;
    top: 92%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.transfer::before, .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.transfer::after {
    right: 68px;
    top: 92%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.transfer::before {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 14px 0px 15px 16px;
  border-style: solid;
  border-color: transparent var(--bg-pseudo);
  right: -15px;
  z-index: 1000;
  top: 28px;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.transfer::before {
    right: 68px;
    top: 92%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.transfer::before {
    right: 68px;
    top: 92%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.service::before, .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.service::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 14px 0px 15px 16px;
  border-style: solid;
  border-color: transparent var(--bg-pseudo-inactive);
  right: -14px;
  z-index: 1000;
  top: 28px;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.service::before, .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.service::after {
    right: 42%;
    top: 92%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.service::before, .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.service::after {
    right: 42%;
    top: 92%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.service::before {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 14px 0px 15px 16px;
  border-style: solid;
  border-color: transparent var(--bg-pseudo-inactive);
  right: -15px;
  z-index: 1000;
  top: 28px;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.service::before {
    right: 42%;
    top: 92%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .selectOptionForm .row .containerBtnSeletForm.service::before {
    right: 42%;
    top: 92%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput {
  padding-right: 2.5rem;
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .containerFormInput {
    padding-right: 1.875rem;
    padding-left: 1.475rem;
  }
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve {
  height: 100%;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row {
  height: 100%;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row .row {
  height: 100%;
  display: flex;
  align-items: center;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row .row .inputForm {
  padding-right: 0;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row .row .inputForm label {
  padding: 0 0 13px 0;
  color: #fff;
  margin: 0 20px 0 0;
  display: block;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row .row .inputForm .input-group input {
  border: 0;
  background-color: #fff;
  border-radius: 0;
  height: 46px;
  max-width: calc(100% - 6px);
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row .row .inputForm .input-group input {
    max-width: calc(100%);
  }
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row .row .inputForm .input-group .input-group-prepend {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row .row .inputForm .input-group .input-group-prepend .input-group-text {
  background-color: transparent;
  border: 0;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row .row .inputForm .input-group .input-group-prepend .input-group-text i {
  font-size: 1.025rem;
  color: #b4b4b4;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #000;
  padding-left: 25px;
  display: none;
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row:nth-child(2) {
    padding-left: 40px;
  }
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row:nth-child(2) .inputService {
  width: 17.5%;
  margin-right: 2.5%;
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row:nth-child(2) .inputService {
    width: calc(100%);
    margin-right: 0;
  }
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row:nth-child(2) .inputService label {
  padding: 0 0 13px 0;
  color: #fff;
  margin: 0 20px 0 0;
  display: block;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row:nth-child(2) .inputService .input-group input {
  border: 0;
  background-color: #fff;
  border-radius: 0;
  height: 46px;
  max-width: calc(100% - 6px);
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row:nth-child(2) .inputService .input-group input {
    max-width: calc(100%);
  }
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row:nth-child(2) .inputService .input-group .input-group-prepend {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row:nth-child(2) .inputService .input-group .input-group-prepend .input-group-text {
  background-color: transparent;
  border: 0;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .form-row:nth-child(2) .inputService .input-group .input-group-prepend .input-group-text i {
  font-size: 1.025rem;
  color: #b4b4b4;
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .btnReserveForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 0;
  padding-right: 30px;
  padding-top: 29px;
  background-color: #000;
}

@media (min-width: 0) and (max-width: 640px) {
  .sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .btnReserveForm {
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: .8rem;
  }
}

.sectionBenefict .row .containerFormReserve .row .containerFormInput .formReserve .row .btnReserveForm .btnReserve {
  background-color: #997f60;
  color: #fff;
  height: 44px;
  border-radius: 50px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeBtn {
  background-color: #997f60;
}

.sectionOurFleet {
  margin: 60px 0px;
  position: relative;
}

.sectionOurFleet .container .row .ourFleet {
  position: relative;
}

.sectionOurFleet .container .row .ourFleet .titleOurFleet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionOurFleet .container .row .ourFleet .titleOurFleet h5 {
  font-size: 1.5rem;
  margin: 0 0 21px 0;
}

.sectionOurFleet .container .row .ourFleet .titleOurFleet .underlineOurFleet {
  width: 55px;
  height: 2px;
  background-color: #997f60;
  margin: 0 0 25px 0;
}

.sectionOurFleet .container .row .ourFleet .titleOurFleet .descriptionOurFleet {
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet {
  position: initial;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card {
  position: relative;
  height: 368px;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card {
    height: auto;
  }
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card .card-title {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
  padding: 0px 30px;
  margin-bottom: 0px;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card .card-title .ourPrice {
  background-color: #997f60;
  font-size: 1rem;
  color: #fff;
  padding: 8px 12px;
  display: table;
  margin: -20px 0 25px 0;
  z-index: 99;
  position: relative;
  height: 39px;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card .card-title h4 {
  font-size: 1.25rem;
  margin: 0 0 20px 0;
  width: 90%;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card .card-title h4 a {
  text-decoration: none;
  color: #1c1c1c;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card .card-title .line {
  width: 45px;
  height: 2px;
  margin: 0px 0 20px 0;
  background-color: #997f60;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card .card-body {
  position: relative;
  padding: 0px 30px;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card .card-body .list-group {
  margin-bottom: 30px;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card .card-body .list-group .list-group-item {
  padding: .1rem 0px;
  border: 0;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .item .card .card-body .list-group .list-group-item i {
  color: #997f60;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 0) and (max-width: 481px) {
  .sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .owl-nav {
    display: none;
  }
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .owl-nav button {
  width: 37px;
  height: 37px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 50px;
  position: relative;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .owl-nav button span {
  font-size: 2.5rem;
  display: block;
  position: absolute;
  top: -16px;
  left: 12px;
  padding: 0;
  height: 1.5rem;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .owl-nav button:hover span {
  color: #444;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .owl-dots .owl-dot {
  margin: 40px 0 0 0;
  cursor: pointer;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .owl-dots .owl-dot span {
  background-color: #997f60;
  border: 3px solid #997f60;
  width: 15px;
  height: 15px;
  margin: 5px 2px;
}

.sectionOurFleet .container .row .ourFleet .carouselOurFleet .owl-fleet .owl-dots .owl-dot.active span {
  background-color: #fff;
}
