@mixin responsiveDevicesMdSm {
    @media (min-width: map-get($grid-breakpoints, "xs")) and (max-width: map-get($grid-breakpoints, "md")){
        @content;
    }
}

// Seccion del carrusel de imagenes.
.sectionCarouselHome{
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    .carousel{
        width: 100%;
        height: 100%;
        .carousel-inner{
            .carousel-item{
                width: 100%;
                height: auto;
                overflow-x: hidden;
                position: relative;
                img{
                    width: 120.5% !important;
                    height: 120.5% !important;
                    margin-left: -10.25%;
                }
                .carousel-caption{
                    display: flex;
                    &.carouselCaption1{
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center; 
                        position: absolute;
                        top: 0;
                        h1{
                            text-align: left;
                        }
                        p{
                            text-align: justify;
                        }
                    }
                    &.carouselCaption2{
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        top: 5%;
                        h1{
                            text-align: center;
                        }
                    }
                    h1{
                        font-size: 4rem;
                        line-height: 120%;
                        width: 700px;
                    }
                    p{
                        font-size: 1rem;
                    }
                    button{
                        background-color: $primary;
                        border-radius: 50px;
                        height: 48px;
                        width: 180px;
                        margin: 5px 0px 0px;
                        color: map-get($theme-colors, "white" )
                    }
                }
            }
        }
        .carouselControl{
            width: 70px;
            height: 70px;
            display: none;
            &.carousel-control-prev{
                border-radius: 50%;
                border: 3px solid #fff;
                top: 41%;
                left: 3%;
            }
            &.carousel-control-next{
                border-radius: 50%;
                border: 3px solid #fff;
                top: 41%;
                right: 3%;
            }
        }
        
    }
    .carousel:hover .carouselControl{
        display: flex;
        transition: 500ms ease-in;
    }
}

// Seccion dos beneficios y formulario de reserva despues del carrusel
.sectionBenefict{
    padding: 60px 0px;
    .container1{
        //padding-bottom: 60px;
        .row{
            .containerBenefict{
                .row{
                    .col-2{
                        i{
                            font-size: 1.8rem;
                            border: 3px solid $primary;
                            width: 68px;
                            height: 68px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $primary;
                        }
                    }
                    .col-10{
                        .span{
                            h5{
                                margin: 0 0 25px 0;
                            }
                        }
                        .line{
                            width: 45px;
                            height: 2px;
                            background-color: $primary;
                            margin: 0 0 25px 0;
                        }
                        .paragraph{
                            margin: 0 0 60px 0;
                            line-height: 160%;
                            font-size: 1rem;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .row{
        .containerFormReserve{
            background-color: map-get($theme-colors, "black");
            .row{
                .selectOptionForm{
                    .row{
                        .containerBtnSeletForm{
                            --bg-pseudo : #997f60;
                            --bg-pseudo-inactive: #000; //Variable que almacena el color primario
                            position: relative;
                            button{
                                height: 89px;
                                color:  map-get($theme-colors, "white");
                                
                            }
                            &.transfer::before,&.transfer::after{
                                content: '';
                                height: 0;
                                width: 0;
                                position: absolute;
                                display: block;
                                border-width: 14px 0px 15px 16px;
                                border-style: solid;
                                border-color: transparent var(--bg-pseudo);
                                right: -14px;
                                z-index: 1000;
                                top: 28px;
                            }
                            &.transfer::before{
                                content: '';
                                height: 0;
                                width: 0;
                                position: absolute;
                                display: block;
                                border-width: 14px 0px 15px 16px;
                                border-style: solid;
                                border-color: transparent var(--bg-pseudo);
                                right: -15px;
                                z-index: 1000;
                                top: 28px;
                            }
                            &.service::before,&.service::after{
                                content: '';
                                height: 0;
                                width: 0;
                                position: absolute;
                                display: block;
                                border-width: 14px 0px 15px 16px;
                                border-style: solid;
                                border-color: transparent var(--bg-pseudo-inactive);
                                right: -14px;
                                z-index: 1000;
                                top: 28px;   
                            }
                            &.service::before{
                                content: '';
                                height: 0;
                                width: 0;
                                position: absolute;
                                display: block;
                                border-width: 14px 0px 15px 16px;
                                border-style: solid;
                                border-color: transparent var(--bg-pseudo-inactive);
                                right: -15px;
                                z-index: 1000;
                                top: 28px;
                            }

                        }
                    }
                }
                .containerFormInput{
                    padding-right: 2.5rem;
                    @include responsiveDevicesMdSm{
                        padding-right: 1.875rem;
                        padding-left: 1.475rem;
                    }
                    .formReserve{
                        height: 100%;
                        .row{
                            height: 100%;
                            .form-row{
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                @include responsiveDevicesMdSm{
                                    padding-right: 2.5rem;
                                    padding-left: 2.5rem;
                                }
                                .row{
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    .inputForm{

                                        padding-right: 0;
                                        label{
                                            padding: 0 0 13px 0;
                                            color: map-get($theme-colors, "white" );
                                            margin: 0 20px 0 0;
                                            display: block;
                                            }
                                        .input-group{
                                            input{
                                                border: 0;
                                                background-color: map-get($theme-colors, "white");
                                                border-radius: 0;
                                                height: 46px;
                                                max-width: calc(100% - 6px);
                                                @include responsiveDevicesMdSm{
                                                    max-width: calc(100%);
                                                }
                                            }
                                            .input-group-prepend{
                                                background-color: transparent;
                                                position: absolute;
                                                right: 0;
                                                top: 0;
                                                bottom: 0;
                                                .input-group-text{
                                                    background-color: transparent;
                                                    border: 0;
                                                    i{
                                                        font-size: 1.025rem;
                                                        color: #b4b4b4;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            } 
                            .form-row:nth-child(2){
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                background-color: map-get($theme-colors, "black" );
                                padding-left: 25px;
                                display: none;
                                @include responsiveDevicesMdSm{
                                   padding-left: 40px;
                                }
                                .inputService{
                                    width: 17.5%;
                                    margin-right: 2.5%;
                                    @include responsiveDevicesMdSm{
                                        width: calc(100%);
                                        margin-right: 0;
                                    }
                                    label{
                                        padding: 0 0 13px 0;
                                        color: map-get($theme-colors, "white" );
                                        margin: 0 20px 0 0;
                                        display: block;
                                        }
                                    .input-group{
                                        input{
                                            border: 0;
                                            background-color: map-get($theme-colors, "white");
                                            border-radius: 0;
                                            height: 46px;
                                            max-width: calc(100% - 6px);
                                            @include responsiveDevicesMdSm{
                                                max-width: calc(100%);
                                            }
                                        }
                                        .input-group-prepend{
                                            background-color: transparent;
                                            position: absolute;
                                            right: 0;
                                            top: 0;
                                            bottom: 0;
                                            .input-group-text{
                                                background-color: transparent;
                                                border: 0;
                                                i{
                                                    font-size: 1.025rem;
                                                    color: #b4b4b4;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .btnReserveForm{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                padding-left: 0;
                                padding-right: 30px;
                                padding-top: 29px;
                                background-color: map-get($theme-colors, "black");
                                @include responsiveDevicesMdSm{
                                    padding-left: 2rem;
                                    padding-bottom: 2rem;
                                    padding-top: .8rem;
                                }
                                .btnReserve{
                                    background-color: $primary;
                                    color: map-get($theme-colors, "white");
                                    height: 44px;
                                    border-radius: 50px;
                                    width: 160px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;                                }
                            }     
                        }
                    }
                }
            }
        }
    }
}
.activeBtn{
    background-color: $primary;
}
