@mixin responsiveDevicesMdSm {
    @media (min-width: map-get($grid-breakpoints, "xs")) and (max-width: map-get($grid-breakpoints, "md")){
        @content;
    }
}
@mixin  responsiveDevicesXsSm{
    @media (min-width:map-get($grid-breakpoints, "xs")) and (max-width: map-get($grid-breakpoints, "sm" )){
        @content;
    }
}

// Seccion del carrusel de imagenes.
.sectionCarouselHome{
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    .carousel{
        width: 100%;
        height: 100%;
        .carousel-inner{
            .carousel-item:nth-child(1){
                width: 100%;
                height: auto;
                overflow-x: hidden;
                position: relative;
                img{
                    width: 120.5% !important;
                    height: 120.5% !important;
                    margin-left: -10.25%;
                    @include responsiveDevicesXsSm{
                        width: 215.5% !important;
                        height: 231px !important;
                        margin-left: -56.25%;
                    }
                }
                .carousel-caption{
                    display: flex;
                    top: 0;
                    align-items: center;
                    .carouselCaption1{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center; 
                        position: absolute;
                        h1{
                            text-align: left;
                            @include responsiveDevicesXsSm{
                                font-size: 2rem;
                            }
                        }
                        .line{
                            width: 85px;
                            height: 3px;
                            margin: 20px 0px;
                            background-color: $primary;
                        }
                        p{
                            text-align: justify;
                            //display: flex !important;
                            @include responsiveDevicesXsSm{
                                display: none !important;
                            }
                        }
                    }
                    h1{
                        font-size: 4rem;
                        line-height: 120%;
                        width: 700px;
                    }
                    p{
                        font-size: 1rem;
                    }
                    button{
                        background-color: $primary;
                        border-radius: 50px;
                        height: 48px;
                        width: 180px;
                        margin: 5px 0px 0px;
                        color: map-get($theme-colors, "white" );
                        @include responsiveDevicesXsSm{
                            align-items: center;
                        }
                    }
                }
            }
            .carousel-item:nth-child(2){
                width: 100%;
                height: auto;
                overflow-x: hidden;
                position: relative;
                img{
                    width: 120.5% !important;
                    height: 120.5% !important;
                    margin-left: -10.25%;
                    @include responsiveDevicesXsSm{
                        width: 215.5% !important;
                        height: 231px !important;
                        margin-left: -56.25%;
                    }
                }
                .carousel-caption{
                    display: flex;
                    top: 0;
                    align-items: center;
                    justify-content: center;
                    .carouselCaption2{
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        h1{
                            text-align: center;
                            @include responsiveDevicesXsSm{
                                font-size: 2rem;
                            }
                        }
                        .line{
                            width: 85px;
                            height: 3px;
                            margin: 20px auto 25px auto;
                            background-color: $primary;
                        }
                    }
                    h1{
                        font-size: 4rem;
                        line-height: 120%;
                        width: 700px;
                    }
                    p{
                        font-size: 1rem;
                        @include responsiveDevicesXsSm{
                            display: none;
                        }
                    }
                    button{
                        background-color: $primary;
                        border-radius: 50px;
                        height: 48px;
                        width: 180px;
                        margin: 5px 0px 0px;
                        color: map-get($theme-colors, "white" )
                    }
                }
            }
        }
        .carouselControl{
            width: 70px;
            height: 70px;
            display: none;
            @include responsiveDevicesXsSm{
                width: 45px;
                height: 45px;
            }
            &.carousel-control-prev{
                border-radius: 50%;
                border: 3px solid #fff;
                top: 41%;
                left: 3%;
            }
            &.carousel-control-next{
                border-radius: 50%;
                border: 3px solid #fff;
                top: 41%;
                right: 3%;
            }
        }
        
    }
    .carousel:hover .carouselControl{
        display: flex;
        transition: 500ms ease-in;
    }
}

// Seccion dos beneficios y formulario de reserva despues del carrusel
.sectionBenefict{
    padding: 60px 0px;
    .container1{
        //padding-bottom: 60px;
        .row{
            .containerBenefict{
                .row{
                    .col-2{
                        i{
                            font-size: 1.8rem;
                            border: 3px solid $primary;
                            width: 68px;
                            height: 68px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $primary;
                        }
                    }
                    .col-10{
                        @include responsiveDevicesMdSm{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                        .contBenefict{
                            @include responsiveDevicesXsSm{
                                width: 90%;
                            }
                            .span{
                                h5{
                                    margin: 0 0 25px 0;
                                }
                            }
                            .line{
                                width: 45px;
                                height: 2px;
                                background-color: $primary;
                                margin: 0 0 25px 0;
                            }
                            .paragraph{
                                margin: 0 0 60px 0;
                                line-height: 160%;
                                font-size: 1rem;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .row{
        .containerFormReserve{
            background-color: map-get($theme-colors, "black");
            .row{
                .selectOptionForm{
                    .row{
                        .containerBtnSeletForm{
                            --bg-pseudo : #997f60;
                            --bg-pseudo-inactive: #000; //Variable que almacena el color primario
                            position: relative;
                            button{
                                height: 89px;
                                color:  map-get($theme-colors, "white");
                                
                            }
                            &.transfer::before,&.transfer::after{
                                content: '';
                                height: 0;
                                width: 0;
                                position: absolute;
                                display: block;
                                border-width: 14px 0px 15px 16px;
                                border-style: solid;
                                border-color: transparent var(--bg-pseudo);
                                right: -14px;
                                z-index: 1000;
                                top: 28px;
                                @include responsiveDevicesXsSm{
                                    right: 68px;
                                    top: 92%;
                                    transform: rotate(90deg);
                                }
                                @include responsiveDevicesMdSm{
                                    right: 68px;
                                    top: 92%;
                                    transform: rotate(90deg);
                                }
                            }
                            &.transfer::before{
                                content: '';
                                height: 0;
                                width: 0;
                                position: absolute;
                                display: block;
                                border-width: 14px 0px 15px 16px;
                                border-style: solid;
                                border-color: transparent var(--bg-pseudo);
                                right: -15px;
                                z-index: 1000;
                                top: 28px;
                                @include responsiveDevicesXsSm{
                                    right: 68px;
                                    top: 92%;
                                    transform: rotate(90deg);
                                }
                                @include responsiveDevicesMdSm{
                                    right: 68px;
                                    top: 92%;
                                    transform: rotate(90deg);
                                }
                            }
                            &.service::before,&.service::after{
                                content: '';
                                height: 0;
                                width: 0;
                                position: absolute;
                                display: block;
                                border-width: 14px 0px 15px 16px;
                                border-style: solid;
                                border-color: transparent var(--bg-pseudo-inactive);
                                right: -14px;
                                z-index: 1000;
                                top: 28px;
                                @include responsiveDevicesXsSm{
                                    right: 42%;
                                    top: 92%;
                                    transform: rotate(90deg);
                                }
                                @include responsiveDevicesMdSm{
                                    right: 42%;
                                    top: 92%;
                                    transform: rotate(90deg);
                                }   
                            }
                            &.service::before{
                                content: '';
                                height: 0;
                                width: 0;
                                position: absolute;
                                display: block;
                                border-width: 14px 0px 15px 16px;
                                border-style: solid;
                                border-color: transparent var(--bg-pseudo-inactive);
                                right: -15px;
                                z-index: 1000;
                                top: 28px;
                                @include responsiveDevicesXsSm{
                                    right: 42%;
                                    top: 92%;
                                    transform: rotate(90deg);
                                }
                                @include responsiveDevicesMdSm{
                                    right: 42%;
                                    top: 92%;
                                    transform: rotate(90deg);
                                }
                            }

                        }
                    }
                }
                .containerFormInput{
                    padding-right: 2.5rem;
                    @include responsiveDevicesMdSm{
                        padding-right: 1.875rem;
                        padding-left: 1.475rem;
                    }
                    .formReserve{
                        height: 100%;
                        .row{
                            height: 100%;
                            .form-row{
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                @include responsiveDevicesMdSm{
                                    padding-right: 2.5rem;
                                    padding-left: 2.5rem;
                                }
                                .row{
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    .inputForm{

                                        padding-right: 0;
                                        label{
                                            padding: 0 0 13px 0;
                                            color: map-get($theme-colors, "white" );
                                            margin: 0 20px 0 0;
                                            display: block;
                                            }
                                        .input-group{
                                            input{
                                                border: 0;
                                                background-color: map-get($theme-colors, "white");
                                                border-radius: 0;
                                                height: 46px;
                                                max-width: calc(100% - 6px);
                                                @include responsiveDevicesMdSm{
                                                    max-width: calc(100%);
                                                }
                                            }
                                            .input-group-prepend{
                                                background-color: transparent;
                                                position: absolute;
                                                right: 0;
                                                top: 0;
                                                bottom: 0;
                                                .input-group-text{
                                                    background-color: transparent;
                                                    border: 0;
                                                    i{
                                                        font-size: 1.025rem;
                                                        color: #b4b4b4;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            } 
                            .form-row:nth-child(2){
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                background-color: map-get($theme-colors, "black" );
                                padding-left: 25px;
                                display: none;
                                @include responsiveDevicesMdSm{
                                   padding-left: 40px;
                                }
                                .inputService{
                                    width: 17.5%;
                                    margin-right: 2.5%;
                                    @include responsiveDevicesMdSm{
                                        width: calc(100%);
                                        margin-right: 0;
                                    }
                                    label{
                                        padding: 0 0 13px 0;
                                        color: map-get($theme-colors, "white" );
                                        margin: 0 20px 0 0;
                                        display: block;
                                        }
                                    .input-group{
                                        input{
                                            border: 0;
                                            background-color: map-get($theme-colors, "white");
                                            border-radius: 0;
                                            height: 46px;
                                            max-width: calc(100% - 6px);
                                            @include responsiveDevicesMdSm{
                                                max-width: calc(100%);
                                            }
                                        }
                                        .input-group-prepend{
                                            background-color: transparent;
                                            position: absolute;
                                            right: 0;
                                            top: 0;
                                            bottom: 0;
                                            .input-group-text{
                                                background-color: transparent;
                                                border: 0;
                                                i{
                                                    font-size: 1.025rem;
                                                    color: #b4b4b4;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .btnReserveForm{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                padding-left: 0;
                                padding-right: 30px;
                                padding-top: 29px;
                                background-color: map-get($theme-colors, "black");
                                @include responsiveDevicesMdSm{
                                    padding-left: 2rem;
                                    padding-bottom: 2rem;
                                    padding-top: .8rem;
                                }
                                .btnReserve{
                                    background-color: $primary;
                                    color: map-get($theme-colors, "white");
                                    height: 44px;
                                    border-radius: 50px;
                                    width: 160px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;                                }
                            }     
                        }
                    }
                }
            }
        }
    }
}
.activeBtn{
    background-color: $primary;
}
.sectionOurFleet{
    margin: 60px 0px;
    position: relative;
    .container{
        .row{
            .ourFleet{
                position: relative;
                .titleOurFleet{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h5{
                        font-size: 1.5rem;
                        margin: 0 0 21px 0;
                    }
                    .underlineOurFleet{
                        width: 55px;
                        height: 2px;
                        background-color: $primary;
                        margin: 0 0 25px 0;
                    }
                    .descriptionOurFleet{
                        width: 80%;
                        text-align: center;
                        margin-bottom: 40px;
                    }
                }
                .carouselOurFleet{
                    .owl-fleet{
                        position: initial;
                        .item{
                            .card{
                                position: relative;
                                height: 368px;
                                @include responsiveDevicesXsSm{
                                    height: auto;
                                }
                                img{
                                    position: relative;
                                }
                                
                                .card-title{
                                    border-top: 1px solid rgba(0,0,0,0.125);
                                    position: relative;
                                    padding: 0px 30px;
                                    margin-bottom: 0px;
                                    .ourPrice{
                                        background-color: $primary;
                                        font-size: 1rem;
                                        color: map-get($theme-colors, "white");
                                        padding: 8px 12px;
                                        display: table;
                                        margin: -20px 0 25px 0;
                                        z-index: 99;
                                        position: relative;
                                        height: 39px;
                                    }
                                    h4{
                                        font-size: 1.25rem;
                                        margin: 0 0 20px 0;
                                        width: 90%;
                                        a{
                                            text-decoration: none;
                                            color: map-get($theme-colors, "dark");
                                        }
                                    }
                                    .line{
                                        width: 45px;
                                        height: 2px;
                                        margin: 0px 0 20px 0;
                                        background-color: $primary;
                                    }
                                }
                                .card-body{
                                    position: relative;
                                    padding: 0px 30px;
                                    .list-group{
                                        margin-bottom: 30px;
                                        .list-group-item{
                                            padding: .1rem 0px;
                                            border: 0;
                                            i{
                                                color: $primary;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .owl-nav{
                            position: absolute;
                            top: 0;
                            right: 0;
                            @include responsiveDevicesXsSm{
                                display: none;
                            }
                            button{
                                width: 37px;
                                height: 37px;
                                background-color: map-get($theme-colors, "white" );
                                border: 1px solid rgba(0,0,0,0.125);
                                border-radius: 50px;
                                position: relative;
                                span{
                                    font-size: 2.5rem;
                                    display: block;
                                    position: absolute;
                                    top: -16px;
                                    left: 12px;
                                    padding: 0;
                                    height: 1.5rem;
                                }
                            }
                            button:hover span{
                                color: #444;
                            }
                        }
                        .owl-dots{
                            .owl-dot{
                                margin: 40px 0 0 0;
                                cursor: pointer;
                                span{
                                    background-color: $primary;
                                    border: 3px solid $primary;
                                    width: 15px;
                                    height: 15px;
                                    margin: 5px 2px;
                                }
                                &.active{
                                    span{
                                        background-color: map-get($theme-colors, "white" );
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.sectionTestimonial{
    background-image: url('../images/testimonial/image25.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    padding: 60px 0;
    color: map-get($theme-colors, "white" );
    .container{
        .row{
            .titleSection{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h5{
                    font-size: 1.5rem;
                    margin: 0 0 21px 0;
                }
                .line{
                    width: 55px;
                    height: 2px;
                    margin: 0px 0 20px 0;
                    background-color: $primary;
                }
            }
            .item{
                padding: 35px 30px 0 30px;
                @include responsiveDevicesXsSm{
                    padding: 10px 30px 0 30px;
                }
                .pTestimonial{
                    font-size: 1.125rem;
                    position: relative;
                    line-height: 160%;
                    text-align: center;
                    width: 80%;
                    margin: 0 auto;
                    position: relative;
                    display: block;
                    @include responsiveDevicesXsSm{
                        width: 100%;
                        font-size: 1rem;
                    }
                    .quotes{
                        font-size: 10rem;
                        color: $primary;
                        position: absolute;
                        font-style: normal;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        @include responsiveDevicesXsSm{
                            display: none !important;
                        }
                    }
                    .quotes:nth-child(1){
                        top: 30px;
                        left: -68px;
                    }
                    .quotes:nth-child(2){
                        bottom: -57px;
                        right: -50px;
                    }
                }
                .userTestimonial{
                    .imgTestimonialUser{
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        margin: 20px auto;
                    }
                    .credentialUsr{
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font-size: 100%;
                        font: inherit;
                        vertical-align: baseline;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
.sectionAbout{
    .container{
        .row{
            .content-about{
                padding: 0px 15px 0px 0px;
                margin: 0 0 60px 0;
                &.paragraphAbout{
                    @include responsiveDevicesXsSm{
                        padding: 0px 0px 0px 15px;
                    }
                    .titleSection{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        h5{
                            font-size: 1.5rem;
                            margin: 0 0 25px 0;
                        }
                        .line{
                            width: 55px;
                            height: 2px;
                            margin: 0px 0 20px 0;
                            background-color: $primary;
                        }
                    }
                    .paragraph{
                        p{
                            font-size: 1rem;
                            color: #424242;
                            margin: 0 0 25px 0;
                        }
                        .btnAboutUs{
                            background-color: $primary;
                            color: map-get($theme-colors, "white" );
                            border-radius: 50px;
                            padding: 10px 35px;
                            font-size: 1rem;
                            i{
                                font-size: .7rem;
                                margin-left: 5px;
                            }
                        }
                    }
                }
                &.videoAbout{
                    background-image: url('../images/aboutUs/image26.jpg');
                    background-position: top center;
                    background-repeat: no-repeat;
                    @include responsiveDevicesXsSm{
                        display: none;
                        margin: 0;
                    }
                    .video{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include responsiveDevicesXsSm{
                            display: none;
                            margin: 0;
                        }
                        a{
                            text-decoration: none;
                            i{
                                color: map-get($theme-colors, "white" );
                                font-size: 2.5rem;
                                width: 90px;
                                height: 90px;
                                border: 3px solid #fff;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
    .modal{
        .modal-dialog-centered{
            .modal-content{
                height: 360px;
                .modal-body{
                    padding: 0;
                    margin-bottom: 0;
                    .close{
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 45px;
                        height: 45px;
                        background-color: $primary;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 9999;
                        span{
                            color: map-get($theme-colors, "white" );
                            font-size: 1.5rem;
                        }
                    }
                    iframe{
                        width: 100%;
                        height: 360px;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}
.sectionOnlineBook{
    background-image: url('../images/onlineBook/image10.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    padding: 90px 0;
    margin: 0 0 60px 0;
    .container{
        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            .sectionTitle{
                h3{
                    font-size: 2.125rem;
                    margin: 0 auto 30px auto;
                    text-align: center;
                    width: 70%;
                    line-height: 120%;
                    color: map-get($theme-colors , "white" );
                    @include responsiveDevicesXsSm{
                        width: 90%;
                        font-size: 1.375rem;
                    }
                }
                .line{
                    background-color: $primary;
                    width: 85px;
                    height: 3px;
                    margin: 0 auto 30px auto;
                }
            }
            .contact{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                span{
                    line-height: 160%;
                    font-size: 16px;
                    margin: 0 0 30px 0;
                    color: map-get($theme-colors, "white" );
                    text-align: center;
                }
                .btn{
                    background-color: $primary;
                    color: map-get($theme-colors, "white" );
                    border-radius: 50px;
                    padding: 10px 35px;
                    font-size: 1rem;
                    width: 187px;
                }
            }
        }
    }
}
.sectionLatestNews{
    position: relative;
    position: relative;
    margin: 0 auto 60px auto;
    .container{
        .row{
            .sectionTitle{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h5{
                    font-size: 1.5rem;
                    margin: 0 0 21px 0;
                    text-align: center;
                    width: 70%;
                    line-height: 120%;
                }
                .line{
                    background-color: $primary;
                    width: 55px;
                    height: 2px;
                    margin: 0 auto 30px auto;
                }
            }
            .carouselNews{
                position: initial !important;
                .owl-news{
                    .item{
                        .card{
                            .card-title{
                                padding:  1.5rem 1.5625rem;
                                margin-bottom: 0;
                                a{
                                    text-decoration: none;
                                    color: #424242;
                                    h4{
                                        font-size: 1.0625rem;
                                        margin-bottom: 0;
                                    }
                                }
                                
                                &.cardTitle2{
                                    padding: .5rem 1.5625rem;
                                    border-top: 1px solid rgba(0,0,0,0.125);
                                    border-bottom: 1px solid rgba(0,0,0,0.125);
                                    .row{
                                        .col-12{
                                            i{
                                                color: $primary;
                                            }
                                            .fa-comments{
                                                margin-right: 10px;
                                            }   
                                            span{
                                                font-size: .94rem;
                                            }
                                        }
                                    }
                                }
                            }
                            .card-body{
                                padding:  1.5625rem;
                                p{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    .owl-nav{
                        position: absolute;
                        top: -100px;
                        right: 0;
                        @include responsiveDevicesXsSm{
                            display: none;
                        }
                        button{
                            width: 37px;
                            height: 37px;
                            background-color: map-get($theme-colors, "white" );
                            border: 1px solid rgba(0,0,0,0.125);
                            border-radius: 50px;
                            position: relative;
                            span{
                                font-size: 2.5rem;
                                display: block;
                                position: absolute;
                                top: -16px;
                                left: 12px;
                                padding: 0;
                                height: 1.5rem;
                            }
                        }
                        button:hover span{
                            color: #444;
                        }
                    }
                    .owl-dots{
                        .owl-dot{
                            margin: 40px 0 0 0;
                            cursor: pointer;
                            span{
                                background-color: $primary;
                                border: 3px solid $primary;
                                width: 15px;
                                height: 15px;
                                margin: 5px 2px;
                            }
                            &.active{
                                span{
                                    background-color: map-get($theme-colors, "white" );
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
footer{
    background-color: map-get($theme-colors, "black" );
    color: map-get($theme-colors, "white");
    padding: 70px 0 0 0;
    .container{
        .row{
            .containerFooter{
                @include responsiveDevicesXsSm{
                    padding-bottom: 2.2rem;
                }
                .section{
                    .cardTitle{
                        h5{
                            text-transform: uppercase;
                            font-size: 0.875rem;
                            margin: 0 0 25px 0;
                        }
                        .line{
                            height: 2px;
                            margin: 0 0 25px 0;
                            width: 55px;
                            background-color: $primary;
                        }
                    }
                    .containerSectionFooter{
                        .paragraph{
                            font-size: 0.9375rem;
                        }
                        .input-group{
                            input{
                                height: 43px;
                                background-color: map-get($theme-colors, "white" );
                                border-radius: 1px;
                                margin: 0 0 20px 0;
                            }
                        }
                        button{
                            font-size: 14px;
                            margin: 0;
                            padding: 0px 20px;
                            border-radius: 50px;
                            color: map-get($theme-colors, "white");
                            background-color: $primary;
                            height: 38px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            i{
                                margin-left: 7px;
                                font-size: 1.05rem;
                            }
                        }
                        .list-group-flush{
                            .list-group-item{
                                background-color: transparent;
                                border: 0;
                                padding: 0rem 0rem .75rem 0rem;
                                .row{
                                    .col-2{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        i{
                                            font-size: 1.5rem;
                                        }
                                    }
                                    .col-10{
                                        display: flex;
                                        flex-direction: column;
                                        span{
                                            font-size: 0.9375rem;
                                        }
                                        .phone,.email{
                                            font-size: 1.125rem;
                                        }
                                        .date{
                                            color: #838383;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    hr{
        background-color: #3b3b3b;
        margin: 45px 0 0 0;
    }
    .footerSocialNetwork{
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .social{
            padding: 0 0 25px 0;
            a{
                text-decoration: none;
                i{
                    color: map-get($theme-colors, "white" );
                    margin-left: 12.5px;
                    margin-right: 12.5px;
                    font-size: 1.01rem;
                }
            }
        }
        .copy{
            text-align: center;
            p{
                font-size: 1rem;
                margin-bottom: 0;
            }
            
        }
    }
}
